<!DOCTYPE html>
<html lang="ru-RU">
{% include "./head.twig" %}
<body class="body" >
  {% include "./site/preloader.twig" %}
  {% include "./site/header.twig" %}
  <div class="content">
    <main class="main">
      {% block content %}
      {% endblock %}
    </main>
  </div><!--/content-->
  {% include "./site/footer.twig" %}
  {% include "./site/swapper.twig" %}
  {% include "./site/toTop.twig" %}
  {% include "./site/modal.twig" %}
<script defer src="{{ site_url }}/atlas.js"></script></body>
<script src="https://api-maps.yandex.ru/v3/?apikey=5a706b69-81b8-4f98-821c-a2750355da8e&lang=ru_RU"></script>
</body>
</html>
