<section class="service-contacts" id="kontakty">
  <div class="container">
    <header class="service-contacts__header">
      <h3>Контакты</h3>
    </header>

    <div class="service-contacts__address">
      г. Курск, ул. Советская, д. 12
    </div>

    <div class="service-contacts__schedule">
      с 10:00 до 19:00
    </div>

    <div class="service-contacts__phone">
      <a href="tel:+74712389999">+7 (4712) 38-99-99</a><span> | </span><a href="tel:+79107403132"> +7 (910) 740-31-32 </a>
    </div>

    <div class="service-contacts__email">
      <a href="mailto:atlasluxkursk@yandex.ru">atlasluxkursk@yandex.ru</a>
    </div>

    <div class="service-contacts__social">
      <a class="contact-social" target="_blank" rel="noopener, nofollow" href="https://wa.me/79107401632"><svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.273 3.72701C18.192 1.646 15.4252 0.5 12.4823 0.5C9.5394 0.5 6.77258 1.646 4.69157 3.72701C2.61056 5.80801 1.46461 8.57475 1.46461 11.5177C1.46461 13.3819 1.93651 15.2138 2.83225 16.8365L0.5 23.5L7.1634 21.1678C8.78615 22.0634 10.6181 22.5354 12.4823 22.5354C15.4252 22.5354 18.192 21.3893 20.2729 19.3084C22.354 17.2274 23.5 14.4606 23.5 11.5177C23.5 8.57471 22.354 5.80797 20.273 3.72701ZM17.929 15.6106L16.6571 16.8826C15.6034 17.9362 12.6136 16.655 9.97932 14.0207C7.34502 11.3864 6.06371 8.39668 7.11744 7.34295L8.38936 6.07103C8.65278 5.80761 9.0799 5.80761 9.34332 6.07103L10.9332 7.66095C11.1967 7.92437 11.1967 8.35149 10.9332 8.61491L9.97928 9.56887C10.9046 11.5224 12.4776 13.0953 14.4311 14.0207L15.3851 13.0667C15.6485 12.8033 16.0756 12.8033 16.339 13.0667L17.929 14.6566C18.1924 14.9201 18.1924 15.3472 17.929 15.6106Z" fill="white"></path></svg></a>
    </div>
  </div>
</section>
<div id="yamap" style="width: 100%; height: 400px"></div>
