<section class="service-order" id="zakazat">
  <div class="container">
    <header class="service-order__header">
      <h3>Нужна консультация? Оставьте заявку или позвоните нам. Наши специалисты подробно ответят на все вопросы</h3>
    </header>


    <div class="service-order__container">

      <div class="service-order__image">
        <img src="./static/order.jpg">
      </div>

      <div class="service-order__content">
        <p>
          Заполните форму, и менеджер свяжется с вами для обсуждения деталей
        </p>

        <form class="service-order__form" id="order-form" method="post">
          <div class="atlas-input-item">
            <label for="service-order-name" class="atlas-input-label">Имя</label>
            <input class="atlas-input" type="text" id="service-order-name" name="service-order-name" value="" size="60" maxlength="255" placeholder="" />
          </div>
          <div class="atlas-input-item">
            <label for="service-order-phone" class="atlas-input-label form-required">Номер телефона</label>
            <input class="atlas-input" type="text" id="service-order-phone" name="service-order-phone" value="" size="40" maxlength="255" placeholder="" required="required" />
          </div>
          <div class="atlas-input-item">
            <label for="service-order-details" class="atlas-input-label">Ваш вопрос</label>
            <textarea class="atlas-input" id="service-order-details" name="service-order-details" rows="5" cols="60" placeholder=""></textarea>
          </div>
          <input type="submit" id="service-order-submit" name="service-order-submit" value="Отправить" class="atlas-button-medium" >
        </form>
      </div>
    </div>
  </div>
</section>
