<section class="service-promo">
  <div class="container">
    <header class="service-promo__header">
      <h1>Качественная мебель по индивидуальным размерам в Курске</h1>
    </header>
    <div class="service-promo__short">
      <h2>Готовый результат в срок до 45 рабочих дней</h2>
    </div>
    <button class="atlas-button-medium" id="add-order">Оставить&nbsp;заявку</button>
    <div class="service-promo-arrow"></div>
  </div>
</section>
