<section class="service-why" id="o-nas">
  <div class="container">
    <header class="service-why__header">
      <h2>Почему стоит доверить нам изготовление вашей мебели</h2>
    </header>

    <ul class="service-why__list">
      <li>Более 20 лет помогаем нашим клиентам с выбором мебели под любой бюджет и желание</li>
      <li>Оказываем услуги по составлению дизайн-проекта, его реализации, доставке, установке мебели</li>
      <li>Оказываем услуги по сопровождению гарантийного обслуживания изделия</li>
      <li>Работаем по договору, на условиях предоплаты</li>
      <li>У нас действует система скидок, которая устанавливается мебельными фабриками в размере от 10% до 30%</li>
      <li>Выдаем гарантийные талоны и паспорт качества на кухни. На корпусную мебель гарантия действует в течение 2-х лет</li>
      <li>Оплата изделий производится любым
        удобным способом: наличными, картой, на расчетный счет, через банк.
        Также действует рассрочка банка по карте «Халва»</li>
      <li>Сотрудничаем как с физическими, так и с юридическими лицами</li>
    </ul>


  </div>
</section>
