<section class="service-process" id="process-raboty">
  <div class="container">

    <header class="service-process__header">
      <h3>Процесс работы</h3>
    </header>

    <div class="work-scope-items">
      <div class="work-scope-item">
        <div class="work-scope-item-title">Заявка</div>
        <div class="work-scope-item-number">1</div>
        <div class="work-scope-item-text">Вы оставляете заявку на сайте, либо звоните нам по телефону +7 (4712)-38-99-99</div>
      </div>
      <div class="work-scope-item-dots"></div>
      <div class="work-scope-item">
        <div class="work-scope-item-title">Дизайн-проект</div>
        <div class="work-scope-item-number">2</div>
        <div class="work-scope-item-text">Подготавливаем дизайн-проект и согласовываем его с вами</div>
      </div>
      <div class="work-scope-item-dots"></div>
      <div class="work-scope-item">
        <div class="work-scope-item-title">Расчет стоимости работ</div>
        <div class="work-scope-item-number">3</div>
        <div class="work-scope-item-text">Наш специалист выезжает на замер и рассчитывает стоимость</div>
      </div>
      <div class="work-scope-item-dots"></div>
      <div class="work-scope-item">
        <div class="work-scope-item-title">Запуск в производство</div>
        <div class="work-scope-item-number">4</div>
        <div class="work-scope-item-text">Заключаем договор, принимаем предоплату, запускаем изделие в производство</div>
      </div>
      <div class="work-scope-item-dots"></div>
      <div class="work-scope-item">
        <div class="work-scope-item-title">Доставка и установка</div>
        <div class="work-scope-item-number">5</div>
        <div class="work-scope-item-text">Согласовываем удобное время для установки изделия. Доставляем, собираем</div>
      </div>
      <div class="work-scope-item-dots"></div>
      <div class="work-scope-item">
        <div class="work-scope-item-title">Закрываем заявку</div>
        <div class="work-scope-item-number">6</div>
        <div class="work-scope-item-text">Подписываем акт выполненных работ, выдаем инструкцию по эксплуатации и уходу за мебелью</div>
      </div>
    </div>

  </div>
</section>


