

<section class="service-icons" id="preimushestva">
  <div class="container">

    <div class="service-icons__list">

      <div class="service-icons__item">
        <div class="service-icons__item-img">
          <img src="./static/icon-clocks.svg" alt="" />
        </div>
        <div class="service-icons__item-title">
          Экспресс-расчет за 15 минут
        </div>
      </div>

      <div class="service-icons__item">
        <div class="service-icons__item-img">
          <img src="./static/facebook-like--v1.png" alt="" />
        </div>
        <div class="service-icons__item-title">
          Контроль качества на всех этапах исполнения заказа
        </div>
      </div>

      <div class="service-icons__item">
        <div class="service-icons__item-img">
          <img src="./static/people-in-car-side-view.png" alt="" />
        </div>
        <div class="service-icons__item-title">
          Бесплатный выезд на замер
        </div>
      </div>

      <div class="service-icons__item">
        <div class="service-icons__item-img">
          <img src="./static/settings-3.png" alt="" />
        </div>
        <div class="service-icons__item-title">
          Сервисное обслуживание на весь период эксплуатации
        </div>
      </div>

    </div>

  </div>
</section>
