<section class="service-postulates">
  <div class="container">
    <div class="service-postulates__list">

      <div class="service-postulates__item">
        <div class="service-postulates__item-img">
          <img src="./static/mebel-po-individualnomu-dizainu.jpg" alt />
        </div>
        <div class="service-postulates__item-title">
          Изготавливаем мебель по индивидуальному дизайну для любого интерьера и с любым бюджетом. По вашему желанию, комплектуем кухни встроенной бытовой техникой и сантехникой любого бренда.
        </div>
      </div>

      <div class="service-postulates__item">
        <div class="service-postulates__item-img">
          <img src="./static/ergonomichnost-mebeli.jpg" alt />
        </div>
        <div class="service-postulates__item-title">
          Особое внимание уделяем эргономичности мебели, ее надежности и эксплуатационным свойствам.
        </div>
      </div>

      <div class="service-postulates__item">
        <div class="service-postulates__item-img">
          <img src="./static/interernye-reshenia.jpg" alt />
        </div>
        <div class="service-postulates__item-title">
          Интеллект рук. Страсть к качеству. Культура материалов. Дизайнерская идентичность. В наших продуктах всегда есть что-то эксклюзивное, что выражается в уникальных и ценных деталях.
        </div>
      </div>

    </div>

  </div>
</section>
