<footer class="footer">
  <div class="wrapper">
    <div class="footer-main">
      <p>
        © 2024 Салон кухни Атлас-Люкс.<br>
        Все права защищены.
      </p>
    </div>
  </div><!--/wrapper-->
</footer>
