<div class="modal" id="modal-callback" >
    <div class="modal-container">

      <button class="modal-close" type="button" aria-label="Закрыть">
        <span aria-hidden="true">×</span>
      </button>

      <div class="modal-header">
        <h4>Заказать звонок</h4>
      </div>

      <div class="modal-body">
        <p>
          Наши менеджеры свяжутся с вами для обсуждения деталей
        </p>


        <form method="post" accept-charset="UTF-8">
          <div id="callbackMsg"></div><br>
          <div class="atlas-input-item">
            <label for="callback-phone" class="atlas-input-label form-required">Номер телефона</label>
            <input type="text" name="callback-phone" id="callbackPhone" class="atlas-input" value="" size="40" maxlength="255" placeholder="" required="required" aria-required="true" inputmode="text" />

          </div>


          <input type="submit" class="atlas-button-large" id="callbackButton" name="op" value="Заказать" >


        </form>
      </div>
    </div>

</div>

