.service-postulates {
  background: white;
  font-weight: 400;
  &__list{
    display: flex;
    justify-content: space-between;
    @include devices(mobile){
      flex-direction: column;
    }

  }

  &__item{
    flex: 1 1 auto;
    width: calc(25% - 42px);
    max-width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    &-title{
      margin-top: 30px;
      @include devices(mobile){
        margin-top: 10px;
      }
    }

    @include devices(mobile){
      width: 100%;
      max-width: 100%;
    }
  }
}
