.container {
  padding: 60px var(--page-padding);
  max-width: var(--max-width);
  margin: 0 auto;
}


@import "service-contacts";
@import "service-icons";
@import "service-order";
@import "service-postulates";
@import "service-process";
@import "service-promo";
@import "service-why";
@import "service-manufacturers";























